# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*




This assignment is in the context of completing a series of assignments and lessons of the course mentioned above.

In [4]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

In [6]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Collecting pandas
  Downloading pandas-1.1.4-cp38-cp38-manylinux1_x86_64.whl (9.3 MB)
     |████████████████████████████████| 9.3 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.3
    Uninstalling pandas-1.1.3:
      Successfully uninstalled pandas-1.1.3
Successfully installed pandas-1.1.4

In [7]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [8]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7eff6c13bc70>)

Let's load the data from the CSV file into a Pandas data frame.

In [9]:
countries_df = pd.read_csv('countries.csv')

In [10]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [11]:
num_countries = countries_df.shape[0]

In [12]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [13]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [14]:
continents = countries_df['continent'].unique

In [15]:
continents

<bound method Series.unique of 0        Asia
1      Europe
2      Africa
3      Europe
4      Africa
        ...
205      Asia
206    Africa
207      Asia
208    Africa
209    Africa
Name: continent, Length: 210, dtype: object>

In [16]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [17]:
total_population = countries_df['population'].sum()

In [18]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [19]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [20]:
#each weight will be the population of each country divided by the total population , we then add this collumn to our 
#dataframe
countries_df['weights']=countries_df['population']/total_population
#now we compute and add a new collumn to our dataframe weight*life_expectancy of each country
countries_df['weighted_life_expectancy']=countries_df['weights']*countries_df['life_expectancy']

In [21]:
#overall life expectancy is the sum of all our new collumn elements
overall_life_expentancy=countries_df['weighted_life_expectancy'].sum()
overall_life_expentancy

72.72165193409664

In [22]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [23]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)

In [24]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,0.185528,14.268971
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,0.177882,12.391254
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,0.042666,3.364648
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,0.035257,2.528637
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,0.028473,1.915373
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,0.027399,2.079022
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,0.026571,1.453184
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,0.021228,1.540968
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,0.018811,1.365294
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469,0.016619,1.247284

In [25]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [26]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [27]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,0.005018,0.325307,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,0.000371,0.029145,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,0.005652,0.434555,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,0.000010,0.000834,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,0.004236,0.259059,1.912651e+11
...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,0.012547,0.946036,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,0.000077,0.005410,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,0.003845,0.254202,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,0.002370,0.151399,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,0.001916,0.117804,2.823622e+10

In [28]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the countries with population greater than 100 million.**

In [29]:
low_gdp_countries= countries_df[countries_df['population']>1e8].sort_values('gdp_per_capita',ascending=True).head(10)

In [30]:
low_gdp_countries

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,0.014819,0.986929,1.988786e+11
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,0.021228,1.540968,5.803628e+11
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,0.028473,1.915373,1.112128e+12
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,0.026571,1.453184,1.100467e+12
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,0.177882,12.391254,8.868838e+12
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,0.014125,1.006120,8.327273e+11
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,0.013191,0.949610,1.079649e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,0.035257,2.528637,3.060386e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,0.027399,2.079022,2.997821e+12
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,0.185528,14.268971,2.203419e+13

In [31]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a data frame that counts the number of countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [32]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [33]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [34]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [35]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [36]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [37]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [38]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7eff6bed1730>)

In [39]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [40]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [69]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()

122

In [42]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [43]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [44]:
combined_df = countries_df.merge(covid_data_df,on='location')

In [45]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,0.005018,0.325307,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,0.000371,0.029145,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,0.005652,0.434555,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,0.000010,0.000834,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,0.004236,0.259059,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,0.012547,0.946036,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,0.000077,0.005410,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,0.003845,0.254202,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,0.002370,0.151399,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,0.001916,0.117804,2.823622e+10,6638.0,206.0,97272.0

In [46]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [47]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [48]:
combined_df['cases_per_million'] =  combined_df['total_cases']*1e6/combined_df['population']

In [49]:
combined_df['deaths_per_million'] = combined_df['total_deaths']*1e6/combined_df['population']

In [50]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,0.005018,0.325307,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,0.000371,0.029145,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,0.005652,0.434555,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,0.000010,0.000834,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,0.004236,0.259059,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,0.012547,0.946036,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,0.000077,0.005410,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,0.003845,0.254202,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,0.002370,0.151399,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,0.001916,0.117804,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

In [51]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [52]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [53]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,0.001275,0.099401,6.655595e+11,71540.0,387.0,7177430.0,725696.635121,7233.276713,39.128852
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,0.000219,0.016952,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,0.000081,0.006637,5.901574e+10,7928.0,124.0,385820.0,616349.508607,12665.022301,198.090662
122,Malta,Europe,441539.0,82.53,4.485,36513.323,0.000057,0.004697,1.612206e+10,1931.0,13.0,188539.0,427004.183096,4373.339614,29.442473
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,0.000747,0.060401,2.703946e+11,17195.0,626.0,2447911.0,422621.755488,2968.645954,108.076323
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,0.001116,0.092569,2.867782e+11,122539.0,969.0,2353984.0,271962.665303,14157.289533,111.951408
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,0.000044,0.003650,1.586231e+10,2121.0,10.0,88829.0,260304.761905,6215.384615,29.304029
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,0.018811,1.365294,3.614206e+12,1005000.0,17414.0,37176827.0,254750.159763,6886.653091,119.327539
199,United States,North America,331002647.0,78.86,2.770,54225.446,0.042666,3.364648,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,0.003287,0.274261,1.138537e+12,25923.0,663.0,6255797.0,245326.517406,1016.592979,26.000121

In [54]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [55]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [56]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,Asia,2881060.0,80.23,1.20,116935.600,0.000371,0.029795,3.368985e+11,119206.0,199.0,634745.0,220316.480740,41375.743650,69.071800
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,0.000219,0.016952,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
147,Panama,North America,4314768.0,78.51,2.30,22267.037,0.000556,0.043665,9.607710e+10,94084.0,2030.0,336345.0,77952.047480,21805.112117,470.477208
40,Chile,South America,19116209.0,80.18,2.11,22767.037,0.002464,0.197569,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,0.000004,0.000372,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
9,Aruba,North America,106766.0,76.29,NaN,35973.781,0.000014,0.001050,3.840777e+09,2211.0,12.0,NaN,NaN,20708.839893,112.395332
105,Kuwait,Asia,4270563.0,75.49,2.00,65530.537,0.000550,0.041555,2.798523e+11,86478.0,535.0,621616.0,145558.325682,20249.789079,125.276222
150,Peru,South America,32971846.0,76.74,1.60,12236.706,0.004250,0.326149,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,0.027399,2.079022,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
199,United States,North America,331002647.0,78.86,2.77,54225.446,0.042666,3.364648,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633

In [57]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [58]:
highest_deaths_df =combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [59]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,0.000004,0.000372,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
150,Peru,South America,32971846.0,76.74,1.60,12236.706,0.004250,0.326149,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576,0.001494,0.121947,4.943965e+11,85817.0,9898.0,2281853.0,196887.713967,7404.645676,854.040375
3,Andorra,Europe,77265.0,83.73,NaN,NaN,0.000010,0.000834,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
177,Spain,Europe,46754783.0,83.56,2.97,34272.360,0.006027,0.503589,1.602397e+12,479554.0,29194.0,6416533.0,137238.001939,10256.790198,624.406705
198,United Kingdom,Europe,67886004.0,81.32,2.54,39753.244,0.008750,0.711589,2.698689e+12,338676.0,41514.0,13447568.0,198090.434075,4988.892850,611.525168
40,Chile,South America,19116209.0,80.18,2.11,22767.037,0.002464,0.197569,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
97,Italy,Europe,60461828.0,83.51,3.18,35220.084,0.007794,0.650835,2.129471e+12,271515.0,35497.0,5214766.0,86248.897403,4490.684602,587.097697
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,0.027399,2.079022,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
182,Sweden,Europe,10099270.0,82.80,2.22,46949.283,0.001302,0.107788,4.741535e+11,84532.0,5820.0,NaN,NaN,8370.109919,576.279276

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [61]:
# I loop through one of the lists elements , grab the location values and check whether that location
#exists in the other list as well, then I print that country and I increment my counter
count_countries=0
for element in highest_tests_df['location'].values:
    if element in highest_cases_df['location'].values:
      count_countries+=1
      print(element)
count_countries

Bahrain
United States

2

In [62]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "ladiasnk-eca/pandas-practice-assignment" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/ladiasnk-eca/pandas-practice-assignment

'https://jovian.ai/ladiasnk-eca/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [63]:
#there is no list that contains the 20 countries with the lowest number of hospital beds per thousand population
#so I create the dataframe here ,for countries with population higher than 10 million
low_beds_20countries=countries_df[countries_df['population']>1e7].sort_values('hospital_beds_per_thousand',ascending=True).head(20)
low_beds_20countries

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp
121,Mali,Africa,2.025083e+07,59.31,0.10,2014.306,0.002610,0.154818,4.079138e+10
117,Madagascar,Africa,2.769102e+07,67.04,0.20,1416.440,0.003569,0.239290,3.922267e+10
140,Niger,Africa,2.420664e+07,62.42,0.30,926.000,0.003120,0.194764,2.241534e+10
135,Nepal,Asia,2.913681e+07,70.78,0.30,2442.804,0.003756,0.265830,7.117551e+10
82,Guinea,Africa,1.313279e+07,61.60,0.30,1998.926,0.001693,0.104277,2.625148e+10
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,0.014819,0.986929,1.988786e+11
31,Burkina Faso,Africa,2.090328e+07,61.58,0.40,1703.102,0.002694,0.165923,3.560041e+10
195,Uganda,Africa,4.574100e+07,63.37,0.50,1697.707,0.005896,0.373629,7.765482e+10
0,Afghanistan,Asia,3.892834e+07,64.83,0.50,1803.987,0.005018,0.325307,7.022622e+10
20,Benin,Africa,1.212320e+07,61.77,0.50,2064.236,0.001563,0.096526,2.502514e+10
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,0.177882,12.391254,8.868838e+12
80,Guatemala,North America,1.791557e+07,74.30,0.60,7423.808,0.002309,0.171582,1.330017e+11
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,0.028473,1.915373,1.112128e+12
85,Haiti,North America,1.140253e+07,64.00,0.70,1653.173,0.001470,0.094066,1.885036e+10
207,Yemen,Asia,2.982597e+07,66.12,0.70,1479.147,0.003845,0.254202,4.411699e+10
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304,0.007700,0.504023,1.602851e+11
132,Mozambique,Africa,3.125544e+07,60.85,0.70,1136.103,0.004029,0.245153,3.550939e+10
32,Burundi,Africa,1.189078e+07,61.58,0.80,702.225,0.001533,0.094385,8.350004e+09
33,Cambodia,Asia,1.671897e+07,69.82,0.80,3645.070,0.002155,0.150467,6.094182e+10
204,Venezuela,South America,2.843594e+07,72.06,0.80,16745.022,0.003665,0.264127,4.761605e+11

In [64]:
#there is no list that contains the 20 countries with the lowest GDP per capita 
#so I create the dataframe here for countries with a population higher than 10 million
low_gdp_20countries=countries_df[countries_df['population']>1e7].sort_values('gdp_per_capita',ascending=True).head(20)
low_gdp_20countries

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,weights,weighted_life_expectancy,gdp
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,0.001533,0.094385,8.350004e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,0.011544,0.700516,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,0.003120,0.194764,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,0.002466,0.158455,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,0.004029,0.245153,3.550939e+10
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,0.003569,0.239290,3.922267e+10
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,0.003845,0.254202,4.411699e+10
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,0.001443,0.083470,1.757290e+10
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,0.001470,0.094066,1.885036e+10
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,0.005896,0.373629,7.765482e+10
31,Burkina Faso,Africa,20903278.0,61.58,0.4,1703.102,0.002694,0.165923,3.560041e+10
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,0.014819,0.986929,1.988786e+11
39,Chad,Africa,16425859.0,54.24,NaN,1768.153,0.002117,0.114842,2.904343e+10
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987,0.005018,0.325307,7.022622e+10
158,Rwanda,Africa,12952209.0,69.02,NaN,1854.211,0.001670,0.115231,2.401613e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.7,1899.775,0.001916,0.117804,2.823622e+10
82,Guinea,Africa,13132792.0,61.60,0.3,1998.926,0.001693,0.104277,2.625148e+10
121,Mali,Africa,20250834.0,59.31,0.1,2014.306,0.002610,0.154818,4.079138e+10
20,Benin,Africa,12123198.0,61.77,0.5,2064.236,0.001563,0.096526,2.502514e+10
135,Nepal,Asia,29136808.0,70.78,0.3,2442.804,0.003756,0.265830,7.117551e+10

In [65]:
#finally I make the same search as before ot find the countries that feature in both those lists and count them with
#a counter , I print as well the country that satisfies this property
count_countries2=0
for element in low_beds_20countries['location'].values:
    if element in low_gdp_20countries['location'].values:
        count_countries2+=1
        print(element)
count_countries2

Mali
Madagascar
Niger
Nepal
Guinea
Ethiopia
Burkina Faso
Uganda
Afghanistan
Benin
Haiti
Yemen
Mozambique
Burundi

14

In [66]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2